form {
	max-width: 420px;
	margin: 50px auto;
}

.feedback-input {
	color: $color_3;
	font-family: $font-family_1;
	font-weight: 500;
	font-size: 18px;
	border-radius: 5px;
	line-height: 22px;
	border: 2px solid $color_3;
	transition: all 0.3s;
	padding: 13px;
	margin-bottom: 15px;
	width: 100%;
	box-sizing: border-box;
	outline: 0;
	&:focus {
		border: 2px solid $background-color_4;
	}
}

textarea {
	height: 150px;
	line-height: 150%;
	resize: vertical;
}

.button2{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $font-family_1;
	width: 100%;
	background: $color_3;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	color: $color_5;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all 0.3s;
	margin-top: -4px;
	font-weight: 700;
	text-decoration: none;
	&:hover {
		background: $color_4;
		color: $color_5;
	}
}
