.navbar {
	.navbar-nav {
		.nav-link {
			color: $color_5;
			&:hover {
				color: $color_4;
				font-weight: 500;
			}
		}
	}
}

.logo_nav{
	width: 160px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: rgba(0,0,0,1);
	border-radius: 5px;
}

.logo_c{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $background-color_1;
}

.nav_bg {
	background-color: $background-color_3;
}

.nav_bs {
	ul {
		li {
			a {
				font-size:$textLg;
			}
		}
	}
}

header {
	div {
		nav {
			ul {
				li {
					margin: 8px;
					a {
						text-decoration: none;
						list-style: none;
						padding: 2px;
					}
				}
			}
		}
		div {
			ul {
				li {
					margin: 8px;
					a {
						text-decoration: none;
						list-style: none;
						padding: 2px;
					}
				}
			}
		}
	}
	background-color: $background-color_2;
	overflow-x: hidden;
}

.c_img {
	width: 101%;
}

.header_titulo {
	text-align: center;
	font-weight: 800;
	font-style: italic;
	padding-top: 20px;
	padding-bottom: 15px;
}