main {
	background-color: $background-color_2;
	section {
		div {
			img {
				box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
				border-radius: 10px;
				margin: 2px 2px;
				padding: 4px 4px;
			}
		}
	}
}

.destacados_titulo {
	text-align: center;
	padding: 16px;
	font-weight: 500;
	font-style: italic;
	padding: 20px;
	color: $color_2;
}

.destacados_productos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation-delay: 0.2s;

}

.fig_center {
	text-align: center;
	margin: 4px;
	padding: 4px;
	line-height: 1.8rem;
	font-size: $textMd;
	img {
		width: 50%;
	}
}

.fig_t {
	&:hover {
		transform: scale(1.1);
		cursor: pointer;
		transition: 0.5s;
	}
}

.fig_txt{
	padding-top: 10px;
}

.contacto_center {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	font-size: $textMd;
	line-height: 2rem;
}

.form{
	background-image: url(../img/contacto/contactanos.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: $textMd;
	line-height: 2rem;
    padding-bottom: 180px;
	padding-top: 158px;
	h2{
		text-align: center;
		color: $color_5;
		text-shadow: 2px 2px 20px $color_2;
	}
}

.form_mapa {
	text-align: center;
	font-size: $textMd;
	line-height: 2rem;
	font-style: italic;
	color: $color_5;
    text-shadow: 2px 2px 20px $color_2;

}

.form_t{
	margin: 10px;
	
}

.form_txt{
	h2{
		color: black;
		text-align: center;
		font-weight: 500;
		margin-bottom: 20px;
		font-style: italic;
	}
}